




<div style="display: flex;">
	
<div class="askFormRight">
	<p class="askForm1">Ask a Question</p>
	<p class="askForm2">and our relationship officers will contact you within 24 hours.</p>
	
	<div class="homeFormInputBox1">
	<div class="homeFormInput homeFormName">
	<div class="homeFormInputBox">

	</div>
	<div class="homeFormInputMask">

	</div>
	<div class="homeFormInputElement">
		<input type="text" placeholder="Name">
	</div>
</div>

<div class="homeFormInput homeFormName">
	<div class="homeFormInputBox">

	</div>
	<div class="homeFormInputMask">

	</div>
	<div class="homeFormInputElement">
		<input type="text" placeholder="Phone">
	</div>
</div>

</div>
<div class="homeFormInputBox2">
	
<div class="homeFormInput homeFormMail">
	<div class="homeFormInputBox">

	</div>
	<div class="homeFormInputMask">

	</div>
	<div class="homeFormInputElement">
		<input type="text" placeholder="Email">
	</div>
</div>

<div class="homeFormInput homeFormMail">
	<div class="homeFormInputBox">

	</div>
	<div class="homeFormInputMask">

	</div>
	<div class="homeFormInputElement">
		<input type="text" placeholder="Business Name">
	</div>
</div>

<div class="homeFormInput homeFormMail">
	<div class="homeFormInputBox">

	</div>
	<div class="homeFormInputMask">

	</div>
	<div class="homeFormInputElement">
		<input type="text" placeholder="Question">
	</div>
	<button class="btn btn-primary">Submit</button>
</div>
</div>

</div>
<div class="askFormLeft">
	<img src="assets/doctor.png">
</div>
</div>