.homeFormInput{
	position: relative;
	margin-left: 25px;
}

.homeFormInputBox{
	height: 40px;
	width: 200px;
	border: 1px solid #121;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.homeFormInputMask{
	height: 20px;
    width: 200px;
    background: #fff;
    position: absolute;
    top: 0;
}

.homeFormInputElement{
	position: absolute;
    top: 10px;
    left: 10px;
    text-align: center;
}

.homeFormInputElement input{
	border: 0px;
	outline: none;
	width: 180px;
}

.homeFormInputBox1{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.homeFormInputBox2{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homeFormInputBox2 .homeFormInputBox{
	width: 425px;
}

.homeFormInputBox2 .homeFormInputMask{
	width: 425px;
}

.homeFormInputBox2 .homeFormInputElement input{
	width: 400px;
}


.askFormRight{
	    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.askFormLeft{
	flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.askFormLeft img {
	    width: 250px;
    float: right;
}

.askForm1{
	font-size: 35px;
    color: #FF9800;
    padding-left: 40px;
    align-self: flex-start;

}

.askForm2{
	font-size: 20px;
    color: #a2a29a;
    padding-left: 40px;
    align-self: flex-start;
    margin-bottom: 25px;
}

button{
    align-self: flex-start;
    margin-top: 25px;
    background-color: #FF9800;
    background: none;
    background-color: #FF9800;
    border: 0px;
    outline: none;
    width: 100px;
    border-radius: 10px;
    font-weight: bold;
}

@media only screen and (max-width: 480px) {
    .homeFormInputBox{
	width: 200px !important;
	
}

.homeFormInputMask{
    width: 200px !important;
}

.homeFormInputElement input{
	
	width: 180px !important; 
}
.homeFormInputBox1{
	flex-direction: column;
	align-items: center;
}

.homeFormInputBox2{
	align-items: center;
}

.homeFormInput {
	width: 250px;
}

}


@media only screen and (max-width: 750px) {

.askFormLeft{
	display: none;
}

}